[Unit]
Description=Check for system updates
Requires=checkupdates.service

[Timer]
Unit=checkupdates.service
OnStartupSec=300
OnUnitActiveSec=3600

[Install]
WantedBy=timers.target
