[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dot/xmonad/xmonad-git"]
	path = dot/xmonad/xmonad-git
	url = https://github.com/xmonad/xmonad
[submodule "dot/xmonad/xmobar-git"]
	path = dot/xmonad/xmobar-git
	url = https://github.com/jaor/xmobar
[submodule "dot/xmonad/xmonad-contrib-git"]
	path = dot/xmonad/xmonad-contrib-git
	url = https://github.com/xmonad/xmonad-contrib
